.container {
  padding: 10px;
  margin-bottom: 10px;
  width: 33.333333%;
}

@media (max-width: 800px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  composes: field from '../common.css';
  font-weight: 600;
  padding-right: 4px;
}

.todo-add-button {
  composes: icon-button from '../common.css';
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #888;
}

.todo-add-button:hover {
  font-weight: 600;
  color: #333;
}

.updated-at {
  color: #666;
}

.remove-button {
  width: 24px;
  height: 24px;
}
