.container {
  padding: 10px;
  margin-bottom: 10px;
  width: 33.333333%;
}

@media (max-width: 800px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
  }
}

.header {
  display: flex;
  align-items: center;
}

.field {
  border-width: 0;
  outline: none;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.title {
  composes: field;
  font-weight: 600;
  padding-right: 4px;
}

.remove-button {
  composes: remove-icon-button from '../common.css';
  width: 24px;
  height: 24px;
}
