.container {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 14px;
  min-width: 100px;
  z-index: 1;
}

.name {
  margin-bottom: 5px;
}
