.container {
  display: flex;
  align-items: center;
}

.title {
  composes: field from '../common.css';
}

.remove-button {
  composes: remove-icon-button from '../common.css';
  width: 20px;
  height: 20px;
  opacity: 0.05;
}
