@value primary-color from '../../styles/colors.css';

.button {
  background-color: transparent;
  border-width: 0;
  outline: none;
  transition: opacity .4s;
}

.button:hover {
  cursor: pointer;
}

.button:hover .icon {
  fill: #95ffee;
}

.icon {
  max-width: 100%;
  max-height: 100%;
  fill: primary-color;
}
