@value gray-primary-color from 'styles/colors.css';

.list {
  padding: 10px;
  margin-bottom: 10px;
  width: 33.333333%;
}

@media (max-width: 800px) {
  .list {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .list {
    width: 100%;
  }
}

.list-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-title {
  composes: field from 'styles/common.css';
  font-weight: 600;
  padding-right: 4px;
  border-bottom-width: 3px;
}

.list-todos {
  margin-bottom: 10px;
}

.todo-add-button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.todo-add-button:hover {
  font-weight: 600;
}

.list-updated-at {
}

.list-remove-button {
  width: 28px;
  height: 28px;
}
