.spaces {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  .spaces {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.remove-icon {
  background-color: transparent;
  background-image: url('./icons/remove.inline.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-button {
  background-color: transparent;
  border-width: 0;
  outline: none;
  opacity: 0.4;
}

.icon-button:hover {
  opacity: 1;
  cursor: pointer;
}

.remove-icon-button {
  composes: remove-icon;
  composes: icon-button;
}

.field {
  border-width: 0;
  border-bottom-width: 1px;
  outline: none;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
