@value primary-color, text-color from './colors.css';

.spaces {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  .spaces {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.field {
  border-width: 0;
  border-bottom-width: 1px;
  border-color: primary-color;
  outline: none;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: transparent;
  color: text-color;
}
