* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

:global(.hidden) {
  display: none;
}

a {
  color: #888;
}

a:hover {
  color: #444;
}
