@value secondary-color from 'styles/colors.css';

.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: secondary-color;
  padding: 14px;
  min-width: 100px;
  z-index: 1;
}

.name {
  margin-bottom: 5px;
}
